<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />
</head>
<body>

<table>
  <tr>
    <th style="padding:0 100px 0 100px;">
      <h1>Memos</h1>
      </th>
      <th style="padding:0 15px 0 15px;">
      <form>
      <input type="button" value="Delete Memo" id="delete">
      </form></th>

      <th style="padding:0 15px 0 15px;">
      <form action="addMemoPage">
      <input type="submit" value="Add Memo" id="add">
      </form>
      </th>
    </tr>
</table>

<div class="container">

<script type="text/javascript">
  console.log("Starting in index");

  $("#delete").click(function(event) {
      var checkedString = ""
      var entries = memos.getElementsByTagName('input');
      for(i = 0; i < entries.length; i++){
        if(entries[i].checked){
          checkedString += (entries[i].id) + ","
        }
      }
      $.getJSON("/deleteMemo", { checked: checkedString }, function(data) { 
        var worked = data.result;
        if(worked["Status"] == "Worked"){
            window.location.reload(true);  
        }
      } );
      
  });
</script>

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form name="memos" id="memosForm">
{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row">
  <div class="col-md-2">
    &nbsp
    <input type="checkbox"  id='{{loop.index}}'>
    &nbsp
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-10">
      {{ memo.text }}
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}
</form>
 

</div> <!-- container -->
</body>
</html>
